<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/1.png">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body >
    <h1>Weather</h1>
    <p>{{>footer}}</p>
   
    <p class="fonts">Use this site to get your Weather details</p>
    <form>
        <input>
        <button>Search</button>
        <p id="message-1" style="color:green; font-weight:bold"></p>
        <p id="message-2"></p>
    </form>
    <script src="/java/app.js"></script>

</body>



</html>